.modal-content {
  background: #aa0aff;
  border-radius: 25px;
}

.accordion-item:last-of-type .accordion-button.collapsed,.accordion-item:last-of-type,.accordion-item:first-of-type, .accordion-button,.accordion-item:first-of-type {
  border-radius: 18px !important;

}
.fa-check-circle-o:before{
  font-size: 1rem;
  color: #aa0aff;

}
