body{
  font-family: 'Nunito', sans-serif!important;
  background-color: rgba(0, 0, 0, 0.03) !important;
}
.modal {
  overflow: hidden!important;
}

.btn {
  border-radius: 15px;
}

.app {
  margin: 7rem 0;


  .form-floating > .form-control, .form-floating > .form-control-plaintext {
    border-radius: 18px;
  }

  code {
    font-size: small;
    font-family: monospace;
  }
}

.card {
  border-radius: 28px;
  padding: 1rem;
  transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.1), 0 15px 40px rgba(166, 173, 201, 0.3);

  .card-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.card:hover {
  box-shadow: 4px 9px 32px 0 rgba(155, 138, 251, 0.5);
  transform: translateY(-5px);
}
@media (min-width: 100px) and (max-width: 320px) {

}
