@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
.carousel-control-prev,.carousel-control-next{
  display: none;
}
.loan-portfolio-text{
  font-family: "Gill Sans", sans-serif !important;
  margin: 0 0 0 10px;
  border-radius: 15px;
}
