.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.fa-heart-o:before {
  font-size: 1.5rem !important;
}

.fa-heart:before {

  font-size: 1.5rem !important;
  color: red;
}

.fa-angle-right:before, .fa-info:before, .fa-sign-in:before {
  vertical-align: middle;
  font-size: 1.5rem;
  color: red;
}

.btn-danger {
  background: #fb0000;
}

.home {
  padding: 1.61rem;
  width: 18rem;
  border-radius: 35px;
  display: inline-block;

  .home-item {
    display: flex;
    align-items: stretch;
  }


  .desc:hover {
    transform: none;
    box-shadow: none;

  }

  .home-btn {
    float: right;
  }

  .fa-angle-right:before {

  }

  .card-img {
    border: 2px solid #e3e3e3;
    border-radius: 12px;
  }

  .fa-star:before {
    color: #eab107;
    margin: 0 0 0 2px;
  }
}

@media screen and (max-width: 1199px) {
  .home {
    margin: 12px;
  }
}

@media screen and (max-width: 767px) {
  .home {
    width: 100%;
    margin: 0;
  }
  //.row {
  //  display: contents !important;
  //}
  .Toastify__toast-container--top-left, .Toastify__toast-container--top-center, .Toastify__toast-container--top-right {
    left: 5rem;
    color: #000000b0;
  }
}
