
.header-app {
  margin-left: 14%;
  position: fixed;
  top: 0;
  width: 70%;
  z-index: 1;
  padding: 0 20px;
  background: #ffffff;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  .icon {
    color: #fff;
    font-size: 1rem;
  }

  .title-right {
    display: none;
    hr {
      margin: 0;
    }

    .bottom-title {
      margin: 0;
      font-size: .7rem;
    }


  }



  .header-btn-hone, .header-btn-calculate, .header-btn-cprofile-offers, .header-btn-upd-comp {

  }

  .fa-heart:before {
    font-size: 1rem !important;
  }

}


@media (max-width: 767px) {
  .header-app {
    width: 100%;
    margin: 0 !important;
    border-radius: 0;
  }
  .header-btn-hone, .header-btn-calculate {
    display: none !important;
  }
  .title-left{
    display: none;
  }
  .title-right{
    display: block!important;
  }


}


