.count{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  top: 11px;
  right: 0;
  height: 1rem;
  min-width: 0.8rem;
  padding: 0.3rem!important;
  font-size: .6rem;
  background-color: #fc3f1d;
  border-radius: 0.8rem;
  box-shadow: 0 2.6px 10.6px rgb(255 88 51 / 40%);
  color: #fff;
}
.header-app {
  margin-left: 14%;
  position: fixed;
  top: 0;
  width: 70%;
  z-index: 1;
  padding: 0 20px;
  background: #ffffff;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  .icon {
    color: #fff;
    font-size: 1rem;
  }

  .title-right {
    display: none;
    hr {
      margin: 0;
    }

    .bottom-title {
      margin: 0;
      font-size: .7rem;
    }


  }

  .fa-heart:before {
    font-size: 1rem !important;
  }

}


@media (max-width: 767px) {
  .header-app {
    width: 100%;
    margin: 0 !important;
    border-radius: 0;
  }
  .header-btn-hone, .header-btn-calculate {
    display: none !important;
  }
  .title-left{
    display: none;
  }
  .title-right{
    display: block!important;
  }


}


