
.header-app {
  margin-left: 14%;
  position: fixed;
  top: 0;
  width: 70%;
  z-index: 1;
  padding: 0 20px;
  background: #ffffff;
  background: linear-gradient(45deg, rgb(155, 138, 251), #D9D6FE);
  box-shadow: 0 5px 14px 1px rgba(34, 60, 80, 0.16);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  .icon{
    color:#fff;
    font-size: 1rem;
  }
  .title {
    color: rgb(255, 255, 255);
    text-align: center;

    hr {
      margin: 0;
    }

    .bottom-title {
      margin: 0;
      font-size: .7rem;
    }
    .a{
      color:#fff!important;
    }
  }
}
@media (min-width: 600px) and (max-width: 700px) {
 .header-app{
   width: 100%;
   margin: 0!important;
 }
}

@media (min-width: 400px) and (max-width: 599.99px) {
  .header-app{
    width: 100%;
    margin: 0!important;
  }
}

@media (max-width: 399.99px) {
  .header-app{
    width: 100%;
    margin: 0!important;
  }
}
