.bottom-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  padding: 10px 0;
  background: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #000000 !important;
  text-align: center;
  display: none;

}

.btn-bottom-panel {
  border-radius: 12px;
  display: inline-block !important;

}


.fa-credit-card:before,.fa-bar-chart-o:before, .fa-bar-chart:before,.fa-heart-o:before,.fa-flash::before, .fa-bolt::before,.fa-warning:before, .fa-exclamation-triangle:before{
  font-size: 1.5rem!important;
}
.icons{
  font-size: 1.7rem!important;
}

@media  (max-width: 767px) {
  .bottom-panel {
    display: inline-block!important;
  }
}
