.bottom-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  padding: 20px 0;
  background: #f8f9fa;
  display: inline-block !important;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #000000 !important;
  text-align: center;

}

.btn-bottom-panel {
  border-radius: 10px;
  display: inline-block !important;
}
.fa-credit-card:before,.fa-bar-chart-o:before, .fa-bar-chart:before,.fa-heart-o:before{
  font-size: 1rem;
}
