.bottom-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  padding: 20px 0;
  background: #f8f9fa;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #000000 !important;
  text-align: center;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px 0 inset;
}

.btn-bottom-panel {
  border-radius: 10px;
  display: inline-block !important;
}
.btn-bottom-panel-active{
  border-radius: 10px;
  display: inline-block !important;
  color: #aa0aff;
}
.fa-credit-card:before,.fa-bar-chart-o:before, .fa-bar-chart:before,.fa-heart-o:before{
  font-size: 1rem;
}
@media  (max-width: 767px) {
  .bottom-panel {
    display: inline-block!important;

  }
}
